<!DOCTYPE html>
<html>
<head>
    <!-- Widget JavaScript bundle -->
    <script src="https://cloud.google.com/ai/gen-app-builder/client?hl=ja"></script>

    <!-- Search widget element is not visible by default -->
    <gen-search-widget
      configId="{{ CONFIG_ID }}"
      triggerId="searchWidgetTrigger">
    </gen-search-widget>
    <!--<script>
        // Set authorization token.
        const searchWidget = document.querySelector('gen-search-widget');
        searchWidget.authToken = "{{ JWT_OR_OAUTH }}";
    </script>-->

    <title>Vertex AI Search sample app</title>
</head>
<body>
    <!-- Element that opens the widget on click. It does not have to be an input -->
    <input placeholder="ここで検索" id="searchWidgetTrigger" />
</body>
</html>
